/.idea/
/FestivalWebApp.API/bin/
/FestivalWebApp.API/obj/
/FestivalWebApp.BLL/bin/
/FestivalWebApp.BLL/obj/
/FestivalWebApp.DAL/obj/
/FestivalWebApp.DAL/bin/
/FestivalWebApp.Domain/obj/
/FestivalWebApp.Domain/bin/
/FestivalWebApp.BLL.Tests/obj/
/FestivalWebApp.BLL.Tests/bin/
/packages/