/.idea/
/FestivalWebApp.API/bin/
/FestivalWebApp.API/obj/
/FestivalWebApp.BLL/bin/
/FestivalWebApp.BLL/obj/
/FestivalWebApp.DAL/obj/
/FestivalWebApp.DAL/bin/
/FestivalWebApp.Core/obj/
/FestivalWebApp.Core/bin/